form {
  display: flex;
  margin: auto;
  height: fit-content;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.login-banner {
  width: 400px;
}

.login-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.login-text .btn {
  width: 200px;
}

input {
  border: none;
  outline: none;
  padding-left: 24px;
}

.user {
  width: 80px;
  margin-top: -100px;
}

.card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 0.5s;
}

.card:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.search-inputs {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 50px;
}

.tourbanner {
  margin-top: -120px;
  background: url('./Assets/images/tour.jpg') center no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
}

.tourbanner h1 {
  padding-top: 200px;
  text-align: center;
}

.layer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Gallery */

[alt="gImg"] {
  width: 100%;
  border-radius: 10px;
  transition: all .5s;
}

[alt="gImg"]:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.gImg6{
  margin-top: -22%;
}
.gImg8{
  margin-top: -25%;
}

@media screen and (max-width:1200px) {
  .gImg6{
    margin-top: 0;
  }
  .gImg8{
    margin-top: 0;
  }
}

.slick-slide>div {
  margin: 0 10px;
}

#btn-font {
  font-family: 'Lovers Quarrel', cursive;
  font-size: xx-large;
}

.information {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.information input {
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.side {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  height: fit-content;
  position: sticky;
  top: 135px;
}

.main-text {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.review {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.link-title {
  text-decoration: none;
  color: black;
}

.link-btn {
  text-decoration: none;
  color: white;
}

.ourTeam {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 20px;
  place-items: center;
}

.about-bg{
  background: url('./Assets/images/about.png') no-repeat left;
  background-size: 50%;
}


@media screen and (max-width:993px) {
  [alt='experience'] {
    width: 80%;
  }
}

@media screen and (max-width:685px) {
  .hero-banner-Imgs {
    width: 100%;
  }

  .hero-Img {
    width: 30%;
  }

  .hero-Imgs {
    width: 50%;
  }
}

@media screen and (max-width: 770px) {
  form {
    flex-direction: column;
  }

  .search-inputs {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .side{
    position: relative;
    top: 10px;
  }
}

.gradient-custom {
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
}

/* Scroll-bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: hsl(40, 95%, 60%);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(40, 95%, 50%);
}